@model Widget.WebClient.Models.WidgetIndexViewModel

@{
    ViewBag.Title = "Widget Index";
}


<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>Select the quantities for each Widget, select a State, then click the Calculate button.</p>
        </div>
    </div>
</div>

@using (Html.BeginRouteForm("WidgetCalculate")) {
    <div class="panel panel-default">
        <div class="panel-heading">Widgets</div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <h3>Name</h3>
                    </div>
                    <div class="col-md-7">
                        <h3>Price</h3>
                    </div>
                </div>
            </li>

            @foreach (var widget in Model.Widgets) {
                @Html.Partial("~/Views/Shared/_WidgetForm.cshtml", widget)
            }
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <label for="state" class="input-group-addon">State</label>
                        @Html.DropDownList("state", Model.StateItems, new {
                            @class = "form-control",
                            id = "state"
                        })
                    </div>
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary pull-right">Calculate</button>
                </div>
            </div>
        </div>
    </div>
}